<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iris Predict App</title>
</head>

<style>
#wrapper {
    text-align: center;
    background: #efd0f5;
}

h2{
    text-align:center;
    font-family:Impact;
    font-size:150%;
    color:red;
}
</style>

<h2>数値を入力</h2>
<div id="wrapper">
    {% for message in form.SepalLength.errors %}
    <div>{{ message }}</div>
    {% endfor %}

    {% for message in form.SepalWidth.errors %}
    <div>{{ message }}</div>
    {% endfor %}

    {% for message in form.PetalLength.errors %}
    <div>{{ message }}</div>
    {% endfor %}

    {% for message in form.PetalWidth.errors %}
    <div>{{ message }}</div>
    {% endfor %}

    <form method="post">
    {{ form.SepalLength.label }}<br>
    {{ form.SepalLength }}
    <br>
    {{ form.SepalWidth.label }}<br>
    {{ form.SepalWidth }}
    <br>
    {{ form.PetalLength.label }}<br>
    {{ form.PetalLength }}
    <br>
    {{ form.PetalWidth.label }}<br>
    {{ form.PetalWidth }}
    <br>
    {{ form.submit }}
    </form>
</div>